<div class="et_pb_section et_pb_section_facebook et_section_regular">
<div class="et_pb_row et_pb_row_facebook">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_facebook et_pb_css_mix_blend_mode_passthrough et-last-child">
<ul class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0 clearfix et_pb_text_align_center et_pb_bg_layout_light">
<li class="et_pb_social_media_follow_network_0 et_pb_social_icon et_pb_social_network_link et-social-facebook et_pb_social_media_follow_network_0">
<a href="https://www.facebook.com/El%C5%BCbieta-Bansleben-Kancelaria-Adwokacka-112573803707588" class="icon et_pb_with_border" title="{{social.facebook_follow}}" target="_blank">
<span class="et_pb_social_media_follow_network_name" aria-hidden="true">{{social.facebook_follow}}</span>
</a>
</li>
</ul>
</div>
</div>
</div>
