<div class="et_pb_section et_pb_section_hague et_pb_with_background et_section_regular">
<div class="et_pb_row et_pb_row_hague">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_hague et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_slider et_pb_slider_0 et_animated et_pb_slider_fullwidth_off">
<div class="et_pb_slides">
<div class="et_pb_slide et_pb_slide_0 et_pb_bg_layout_dark et_pb_media_alignment_center et-pb-active-slide" data-slide-id="et_pb_slide_0">
<div class="et_pb_container clearfix">
<div class="et_pb_slider_container_inner">
<div class="et_pb_slide_description">
<div class="et_pb_slide_content">
<h3>{{shared_blocks.hague_purpose.title}} (a) {{shared_blocks.hague_purpose.items.0}} (b) {{shared_blocks.hague_purpose.items.1}}</h3>
<h3>{{shared_blocks.hague_purpose.citation}}</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
