<section class="pca-hague-block pca-section">
  <div class="container pca-hague-block__inner">
    <blockquote class="pca-hague-block__content pca-reveal">
      <p class="pca-hague-block__intro">{{shared_blocks.hague_purpose.title}}</p>
      <p class="pca-hague-block__point">(a) {{shared_blocks.hague_purpose.items.0}}</p>
      <p class="pca-hague-block__point">(b) {{shared_blocks.hague_purpose.items.1}}</p>
      <cite class="pca-hague-block__citation">{{shared_blocks.hague_purpose.citation}}</cite>
    </blockquote>
  </div>
</section>
