<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{page.title}} | {{site_name}}</title>
  <meta name="robots" content="max-image-preview:large">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{page.seo_head}}

  <script>
    document.documentElement.className = 'js';
  </script>

  <link rel="stylesheet" id="divi-fonts-css"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext&#038;display=swap"
    type="text/css" media="all">
  <link rel="stylesheet" id="et-builder-googlefonts-cached-css"
    href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic|Muli:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&#038;subset=latin-ext,vietnamese,cyrillic,latin,cyrillic-ext&#038;display=swap"
    type="text/css" media="all">

  {{page.cache_css}}

  <link rel="stylesheet" id="pca-static-css" href="{{url_prefix}}/assets/pca-static.css?ver=20260703" type="text/css" media="all">
</head>

<body
  class="page-template-default page custom-background et_pb_button_helper_class et_fixed_nav et_show_nav et_secondary_nav_enabled et_secondary_nav_only_menu et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutter et_pb_gutters3 et_pb_pagebuilder_layout et_smooth_scroll et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css">
  <div id="page-container">

    {{partial.header}}

    <div id="et-main-area">
      <div id="main-content">
        <article class="page type-page status-publish hentry">
          <div class="entry-content">
            <div id="et-boc" class="et-boc">
              {{content}}
            </div>
          </div>
        </article>
      </div>

      <span class="et_pb_scroll_top et-pb-icon"></span>

      {{partial.hague_block}}
      {{partial.facebook}}
      {{partial.footer}}

    </div>
  </div>

  <script id="pca-static-contact-guard">
    (function () {
      function isStaticContactForm(form) {
        return !!(form && form.classList && form.classList.contains('static_contact_form'));
      }

      document.addEventListener('submit', function (event) {
        if (isStaticContactForm(event.target)) {
          event.stopImmediatePropagation();
        }
      }, true);

      document.addEventListener('click', function (event) {
        var button = event.target && event.target.closest ? event.target.closest('button, input[type="submit"]') : null;
        if (button && isStaticContactForm(button.form)) {
          event.stopImmediatePropagation();
        }
      }, true);
    })();
  </script>

  <script defer src="{{url_prefix}}/assets/pca-static.js?ver=20260703" id="pca-static-js"></script>

  {{language_switcher}}

</body>

</html>