<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{page.title}} | {{site_name}}</title>
  <meta name="robots" content="max-image-preview:large">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{page.seo_head}}

  <script>
    document.documentElement.className = 'js';
  </script>

  <link rel="stylesheet" id="pca-static-css" href="{{url_prefix}}/assets/pca-static.css?ver=20260703" type="text/css" media="all">
  <link rel="stylesheet" href="{{url_prefix}}/assets/pca-no-js.css?ver=20260703" type="text/css" media="all">
</head>

<body class="pca-site">
  <div id="page-container" class="site-shell">

    {{partial.header}}

    <div id="site-main-area">
      <div id="main-content">
        <article class="pca-page">
          {{content}}
        </article>
      </div>

      <button class="pca-scroll-top" type="button" aria-label="Back to top"></button>

      {{partial.hague_block}}
      {{partial.footer}}

    </div>
  </div>

  <script defer src="{{url_prefix}}/assets/pca-static.js?ver=20260703" id="pca-static-js"></script>

  {{language_switcher}}

</body>

</html>
